<div class="six-section-card">
  <div class="row h-100">
    <div *ngIf="invert" class="col-5 h-100 b-white">
      <img [src]="product?.url" alt="">
    </div>
    <div class="col-7 h-100 b-yellow">
      <div class="six-section-content">
        <p class="title c-primary">
            {{product?.title}}
        </p>
        <p class="description c-white">
          {{product?.subtitle}}
        </p>
      </div>
    </div>
    <div *ngIf="!invert" class="col-5 h-100 b-white">
      <img [src]="product?.url" alt="">
    </div>
  </div>
</div>
