<div class="row second-sesison-container">
  <div style="height: 60vh;" class="col-md-4 b-yellow border-aux">
    <img src="assets/images/1.png" alt="">
  </div>
  <div class="col-md-4 border-aux" style="overflow: hidden; height: 60vh;">
    <div (mouseenter)="hoveredSession = 2" (mouseleave)="hoveredSession = 1" *ngIf="hoveredSession == 1"
      style="height: 30vh; padding-top: 20%; padding-bottom: 30%;" class="border-aux">
      <p class="title c-primary">Exportaciones</p>
      <p class="title-two c-primary">Importaciones</p>
    </div>
    <div (mouseenter)="hoveredSession = 2" (mouseleave)="hoveredSession = 1" *ngIf="hoveredSession == 2"
      style="height: 30vh; padding-top: 20%;" class="border-aux">
      <p class="c-primary align-text box-text">{{text1}}</p>
    </div>
    <div (mouseenter)="hoveredSession = 1" (mouseleave)="hoveredSession = 2"  style="height: 30vh;" class="b-primary border-aux">
      <div *ngIf="hoveredSession == 2" style="height: 50%; padding-top: 20%; padding-bottom: 30%;"
        class="border-aux">
        <p class="title c-white">Venta mayorista</p>
        <p class="title-two c-white">Venta minorista</p>
      </div>
      <div *ngIf="hoveredSession == 1" class="text-container">
        <p class="c-white align-text box-text">{{text2}}</p>
      </div>

    </div>
  </div>
  <div style="height: 60vh;" class="col-md-4 border-aux b-grey">
    <img src="assets/images/2.png" alt="">
  </div>
</div>