<div class="row second-sesison-container">
  <div class="col-4 b-yellow border-aux">
    <img src="assets/images/1.png" alt="">
  </div>
  <div class="col-4 border-aux" style="overflow: hidden;">
    <div style="height: 50%; padding-top: 20%;" class="border-aux">
      <p class="title c-primary">Exportaciones</p>
      <p class="title-two c-primary">Importaciones</p>
    </div>
    <div style="height: 50%;" class="b-primary border-aux">
      <div class="text-container">
        <p class="c-white align-text box-text">{{text}}</p>
      </div>

    </div>
  </div>
  <div class="col-4 border-aux b-grey">
    <img src="assets/images/2.png" alt="">
  </div>
</div>
