<div class="contacts-container b-yellow">
  <div class="row">
    <div class="col-md-2 mb-10">
      <p class="c-white titles">ENLACES DE INTERÉS</p>
      <a [href]="link.url" class="c-white contents" *ngFor="let link of links">
          {{link.text}} <br>
      </a>
    </div>
    <div class="col-md-5 mb-10">
        <p class="c-white titles">NOSOTROS:</p>
        <p class="c-white contents">{{us}}</p>
    </div>
    <div class="col-md-5 mb-10">
        <p class="c-white titles">DIRECCIÓN:</p>
        <p class="c-white contents">
            {{address}}
        </p>
        <p class="c-white titles">TELÉFONOS</p>
        <p *ngFor="let item of phones" class="c-white contents">
          {{item}}
        </p>
        <p class="c-white titles">CORREOS:</p>
        <p *ngFor="let item of emails" class="c-white contents">
          {{item}}
        </p>
        <a class="c-white" [href]="social.url" *ngFor="let social of socials" [ngClass]="social.icon"></a>
    </div>
  </div>
</div>

