<div class="row main-section">
  <div class="col-sm-5 container-section">
    <p class="main-section-title" [innerHTML]="title"></p>
    <p class="main-section-subtitle-title">{{subtitleTitle}}</p>
    <p class="main-section-subtitle-body max-line">{{subtitleBody}}</p>
    <a class="link-color pt-0">Leer mas...</a>
  </div>
  <div class="col-sm-7 container-section-right" style="height: 90vh;">
    <div class="row p-0" style="height: 100%">
      <div class="col-5 border-aux h-100">
        <div class="border-aux" style="height: 15%">
          <img [src]="sectionRender[0]" class="main-section-image" alt="">
        </div>
        <div class="row border-aux" style="height: 30%">
          <div class="col-6 border-aux">
            <img [src]="sectionRender[1]" class="main-section-image" alt="">
          </div>
          <div class="col-6 border-aux">
            <img [src]="sectionRender[2]" class="main-section-image" alt="">
          </div>
        </div>
        <div  class="border-aux" style="height: 55%">
          <img [src]="sectionRender[3]" class="main-section-image" alt="">
        </div>
      </div>
      <div class="col border-aux h-100">
        <div style="height: 25%;" class="border-aux">
          <img [src]="sectionRender[4]" class="main-section-image" alt="">
        </div>
        <div style="height: 20%;" class="border-aux">
          <img [src]="sectionRender[5]" class="main-section-image" alt="">
        </div>
        <div style="height: 30%;" class="border-aux">
          <img [src]="sectionRender[6]" class="main-section-image" alt="">
        </div>
        <div style="height: 25%;" class="border-aux">
          <img [src]="sectionRender[7]" class="main-section-image" alt="">
        </div>
      </div>
      <div class="col border-aux h-100">
        <div style="height: 25%;" class="border-aux">
          <img [src]="sectionRender[8]" class="main-section-image" alt="">
        </div>
        <div style="height: 10%; width: 100%;" class="row border-aux">
         <img [src]="'assets/images/Grupo 98.png'" style="padding-left: 0; padding-right: 0" class="main-section-image"  alt="">
        </div>
        <div style="height: 32.5%;" class="border-aux">
          <img [src]="sectionRender[9]" class="main-section-image" alt="">
        </div>
        <div style="height: 32.5%;" class="border-aux">
          <img [src]="sectionRender[10]" class="main-section-image" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
