<div class="row main-section">
  <div class="col-md-5 container-section">
    <p class="main-section-title" [innerHTML]="title"></p>
    <p class="main-section-subtitle-title">{{subtitleTitle}}</p>
    <p class="main-section-subtitle-body max-line">{{subtitleBody}}</p>
    <ng-template #longContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Más detalles</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body ">
        <p class="main-section-subtitle-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p class="main-section-subtitle-body">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p class="main-section-subtitle-body">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="main-section-subtitle-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p class="main-section-subtitle-body">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p class="main-section-subtitle-body">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="main-section-subtitle-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p class="main-section-subtitle-body">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p class="main-section-subtitle-body">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="main-section-subtitle-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p class="main-section-subtitle-body">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p class="main-section-subtitle-body">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="main-section-subtitle-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p class="main-section-subtitle-body">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p class="main-section-subtitle-body">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="main-section-subtitle-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p class="main-section-subtitle-body">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p class="main-section-subtitle-body">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
    </ng-template>
    <a (click)="openScrollableContent(longContent)" class="link-color pt-0 main-section-subtitle-body">Leer mas...</a>
  </div>
  <div class="col-md-7 container-section-right" style="height: 90vh;">
    <div class="row p-0" style="height: 100%">
      <div class="col-5 border-aux h-100">
        <div class="border-aux" style="height: 15%">
          <img [ngClass]="{
            'opacity-animation-elise': randomSectionIndex == 0 && !yet,
            'opacity-animation-fade': randomSectionIndex == 0 && yet
          }" [src]="sectionRender[0]" class="main-section-image" alt="">
        </div>
        <div class="row border-aux" style="height: 30%">
          <div class="col-6 border-aux">
            <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 1 && !yet,
          'opacity-animation-fade': randomSectionIndex == 1 && yet}"[src]="sectionRender[1]" class="main-section-image" alt="">
          </div>
          <div class="col-6 border-aux">
            <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 2 && !yet,
          'opacity-animation-fade': randomSectionIndex == 2 && yet}"[src]="sectionRender[2]" class="main-section-image" alt="">
          </div>
        </div>
        <div  class="border-aux" style="height: 55%">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 3 &&  !yet,
        'opacity-animation-fade': randomSectionIndex == 3 &&  yet}"[src]="sectionRender[3]" class="main-section-image" alt="">
        </div>
      </div>
      <div class="col border-aux h-100">
        <div style="height: 25%;" class="border-aux">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 4 && !yet,
        'opacity-animation-fade': randomSectionIndex == 4 && yet}"[src]="sectionRender[4]" class="main-section-image" alt="">
        </div>
        <div style="height: 20%;" class="border-aux">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 5 && !yet,
        'opacity-animation-fade': randomSectionIndex == 5 && yet}"[src]="sectionRender[5]" class="main-section-image" alt="">
        </div>
        <div style="height: 30%;" class="border-aux">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 6 && !yet,
        'opacity-animation-fade': randomSectionIndex == 6 && yet}"[src]="sectionRender[6]" class="main-section-image" alt="">
        </div>
        <div style="height: 25%;" class="border-aux">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 7 && !yet,
        'opacity-animation-fade': randomSectionIndex == 7 && yet}"[src]="sectionRender[7]" class="main-section-image" alt="">
        </div>
      </div>
      <div class="col border-aux h-100">
        <div style="height: 25%;" class="border-aux">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 8 && !yet,
        'opacity-animation-fade': randomSectionIndex == 8 && yet}"[src]="sectionRender[8]" class="main-section-image" alt="">
        </div>
        <div style="height: 10%; width: 100%;" class="row border-aux">
         <img [src]="'assets/images/Grupo 98.png'" style="padding-left: 0; padding-right: 0" class="main-section-image"  alt="">
        </div>
        <div style="height: 32.5%;" class="border-aux">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 9 && !yet,
        'opacity-animation-fade': randomSectionIndex == 9 && yet}"[src]="sectionRender[9]" class="main-section-image" alt="">
        </div>
        <div style="height: 32.5%;" class="border-aux">
          <img [ngClass]="{'opacity-animation-elise': randomSectionIndex == 10 && !yet,
          'opacity-animation-fade': randomSectionIndex == 10 && yet}" [src]="sectionRender[10]" class="main-section-image" alt="">
        </div>
      </div>
    </div>
  </div>
</div>